<div>
    <h1>Upcoming Angular Events</h1>
    <hr>
    <!-- The parent passes each event to the child (thumbnail) -->

    <div class="row">
        <div *ngFor="let event of events" class="col-md-5">
            <app-event-thumbnail
            (click)="handleThumbnailClick(event.name)"
            [event]="event"></app-event-thumbnail
                >
        </div> 
    </div>

    <!-- <app-event-thumbnail
            *ngFor="let event of events" 
            [event]="event">
    </app-event-thumbnail> -->
</div>